.modal {
    display: block;
    resize: both;
    
    .modal-body {
        overflow-y: scroll;
        max-height: calc(100vh - 200px);
    }

    .form-control {
        width: 90%;
        margin-right: 5px;
    }

    .new-form-btn {
        height: 36px;
    }
    
    .section-table {
        .section-row {
            margin: 3 3 3 0;
        }

    }
}

	