.modal-dialog {
    width: 800px;
}

.modal {
    display: block;
    resize: both;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    
    .modal-body {
        overflow-y: scroll;
        max-height: calc(100vh - 200px);
    }

    .form-control {
        /*width: 70%;
        margin-left: 15px;*/
        /*background-color: red;*/
    }

    .new-form-btn {
        height: 36px;
    }
    
    .section-table {
        .section-row {
            margin: 3 3 3 0;
        }

    }

    .pastel-green {
        /*background-color: #eaeff4;*/
        background-color: #d3e7e7;
        border-color: #b4cbcb;
    }

    .pastel-red {
        background-color: #f4eaef;
        border-color: #e2c9d6;
    }
    
    .pastel-blue {
        background-color: #d9e2eb;
        border-color: #c3cbd3;
    }
    
    .info {
        font-family: 'EB Garamond', serif;
        font-weight: normal;
        line-height: 23px;
        font-size: 20px;
        margin: 10 0 30 0; 
    }
    
    .long-input {
        flex-grow: 1;
        /*width: 70%;*/
        /* margin: 10 10 10 10;*/
    }

}

	