#titleBar {
    background-color: #aee239;
    height: 130px;
    width: 100%;
    margin-bottom: 8px;


    .title {

	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 56px;

	color: #6d39e2;
	/* color: #e239ae; */
	margin: 0 0 0 0;
	align-self: center;


    }

    .fixedHeader {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: #aee239;
    }

    .titleLinks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #2a2a2a;
	font-family: 'EB Garamond', serif;
	font-size: 26px;
	font-weight: bold;
        cursor: hand;

        a:visited { color: #2a2a2a; }
        
        a:hover {
            text-decoration: none;
        }
        
	.link {
            cursor: pointer;
	    margin: 0 20 0 20;
            
	}

        .link:hover { text-decoration: underline; }
    }

}
