#titleBar {
    background-color: #aa0000;
    height: 100px;
    width: 100%;

}

.title {
    font-size: 40px;
    color: white;
    margin: 10px;
}

.links {
    margin: 5px;
    margin-left: 10px;
}
