#titleBar {
    background-color: #aee239;
    height: 100px;
    width: 100%;
    margin-bottom: 8px;


    .title {

	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 56px;

	color: white;
	margin: 0 0 0 0;
	align-self: center;
    }

    .fixedHeader {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: #aa0000;
    }

    .link {
	/*margin: 8 15 0 12;*/
	color: black;
    }

}
