@import './styles/app';
@import './styles/titlebar';
@import './styles/recipeLinkContainer';
@import './styles/recipeLink';
@import './styles/recipeCard';

/*

.flex_row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
}
*/
